.examples {
    background-color: #daddde;
    display: flex;
    justify-content: center;
   /* height: 100%;*/
}

.container__pics {

}

.example:nth-child(odd) {
    background: #2cb5c6;
}

.example {
    border-bottom:2px solid #a8b7bb;
    border-top:2px solid #a8b7bb ;
    background-color: #b3f1ff;
}

.example__title {
    width: 100%;
    color:  #ffb400;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-shadow: 5px 5px 5px black !important;
    font-style:  italic;
    letter-spacing: 4px;
}

.example__pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.example__picContainer {

}

.example__pic {
    width: 100%;
}

.container__slider {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
   /* align-items: center;*/
}

@media screen and (max-width: 959px) {
    .container {
        display: none;
    }
}

@media screen and (min-width: 959px) {
    .container__slider {
        display: none;
    }
}
